.nav {
    grid-area: n;
    background-color: aquamarine;
    padding: 10px;
    height: 100vh;
}
.item {
    text-decoration: none;
    color: brown;
    transition: all 0.3s linear;
}
.active {
    color: gold;
}